@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {        
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo_cabecalho {
    height: 72px;
    size: 40px;
}

.menu_cabecalho {
    display: flex;
    gap: 32px;
}

.item_menu_cabecalho {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7; 
    font-weight: 400;
    font-size: 18px;
}

.item_menu_cabecalho:hover {
    color: #ECD6C4
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;    
}

.conteudo_principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.escrita_conteudo_principal {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo_conteudo_principal {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.subtitulo_conteudo_principal {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4
}

.botao_conteudo_principal {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    color: #2F2325;
    font-weight: 400;
}

.botao_conteudo_principal:hover {
    background-color:rgba(236, 214, 196, 0.53);
    color: #ECD6C4;
}

.logo_conteudo_principal {
    height: 430px;
    size: 10px;
    padding: 40px;
}

.conteudo_secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.titulo_conteudo_secundario {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.parag_conteudo_secundario {
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 24px;
}

.img_rodape {
    height: 72px;
    size: 40px;
}